<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <globalization uiCulture="es-ES"/>
    <authorization>
      <allow roles="Asistente" />
      <deny users="?" />
      <allow roles="Administrador" />
      <deny users="?" />
    </authorization>
  </system.web>
</configuration>